<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- <link rel="stylesheet" href=""> -->

    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"
      crossorigin="anonymous"
    />

    <link rel="stylesheet" href="../../static/authentication/homeStyle.css" />

    <title>Home</title>
  </head>
  <body>
    <section
      id="cp"
      class="bg-light text-light text-center text-md-start bg-cover home-section section-padding position-relative"
    >
      <svg
        class="wave"
        viewBox="0 0 450 450"
        xmlns="http://www.w3.org/2000/svg"
      >
        <g>
          <title>Layer 1</title>
          <path
            stroke-width="0"
            id="svg_5"
            class="svg-path"
            d="m-40.4,407.2c195,-154 177,79 390,-4c213,-83 289,-73 402,13c113,86 208,-175 216,-163c8,12 -81,367 -81,366c0,-1 -897,-11 -896.6,-11.2c-0.4,0.2 -225.4,-46.8 -30.4,-200.8z"
            opacity="NaN"
            stroke="#000"
            fill="#00ff7f"
          />
        </g>
      </svg>
      <div class="container" style="z-index: 4; position: relative">
        <div class="row">
          <div class="col-md">
            <div class="home-text">
              <span class="text-light h1 bold-text fs-7">Uploder</span>
              <p class="text-light my-4 fw-bold">
                The best organized free drive for you!
              </p>
              <p class="text-light my-4">Just hit the button below and sign-up if you don't have an account <i>for free<i>.</p>
              <a
                href="./index.html"
                class="home-btn btn btn-warning btn-lg text-dark text-center p-3 px-5"
              >
                Login/Register
              </a>
            </div>
          </div>
          <div class="col-md"></div>
        </div>
      </div>
    </section>
    <section>
      <div id="desktop-stack">
        <div class="container stack-container">
            <div class="stack-parent" id="stack-parent-right">
                <img src="../../static/authentication/images/home/CloudUpload.png" alt="upload">
            </div>
            <div class="container">
                <h3 class="text-color fw-bold">Uploading...</h3>
                <p class="text-color" style="font-size: 1.1rem;">
                  Choose your library and organize your files like never!
                  <br>
                  Aside from 4 libraries that all users have (Movies/Music/Photos/Docs), you can create as much 
                  libraries as you want and customize them as you wish.
                  <br>
                  Don't you ever worry about another misplacement in your files.
                  <br>
                  Need to put some attachments beside your main file? You can create that as well :)  
                </p>
                <a href="#" class="link-secondary text-decoration-none">How it works? (coming soon...)</a>
            </div>
        </div>
        <br> <br>
        <div class="container stack-container">
            <div class="stack-parent" id="stack-parent-left">  
                <img src="../../static/authentication/images/home/CloudDownload.png" alt="download">
            </div>
            <div class="container">
                <h3 class="text-color fw-bold">...Downloading</h3>
                <p class="text-color" style="font-size: 1.1rem;">
                  You have already uploaded your files into your libraries?
                  <br>
                  Access them from anywhere just by logging into you account!
                  <br>
                  After Logging in you can choose your library and find the file(s) you want in them.
                  Click on whatever file you have uploaded before and click on the download button to receive 
                  them on your current device!
                  <br>
                  Ha! No need to carry a flash-memory with you everywhere :)
                </p>
                <a href="#" class="link-secondary text-decoration-none">How it works? (coming soon...)</a>
            </div>
        </div>
        <br> <br>
    </div>
    </section>
  </body>
</html>
