{% extends "authentication/defualt.html" %}
{% load static %}
{% block content %}
<img src="{% static 'authentication/images/profile.png' %}" class="rounded" alt="profilephoto">
<div class="row">
    <input type="text" readonly value="{{ user.first_name }}">
    <input type="text" readonly value="{{ user.last_name }}">
</div>
<div class="row">
    <input type="text" readonly value="{{ user.username }}">
</div>
<div class="row">
    <input type="text" readonly value="{{ user.email }}">
</div>
{% endblock %}